@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Cabin&family=Dancing+Script:wght@400;600&family=Jost&family=Kaushan+Script&family=Lobster&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    background-image: url(bgimg.jpg);
    background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    color: rgb(255, 208, 1);
    filter: drop-shadow(10px 10px 10px rgb(134, 228, 13));
}
